{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ product.name }}">
    <h1>{{ product.name }}</h1>
    <p class="price">${{ product.price }}</p>
    {{ product.description|linebreaks }}
    <a href="{% url 'orders:order_create' product.id %}" class="btn btn-primary">
        Buy Now
    </a>
</div>
{% endblock %}