{% extends "base.html" %}
{% load static %}
{% block title %}Pay your order{% endblock %}
{% block content %}
<h1>Order summary</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row1">
            <td>
                <img src="{% if order.product.image %}{{ order.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
            </td>
            <td>{{ order.product.name }}</td>
            <td class="num">${{ order.product.price }}</td>
            <td class="num">${{ order.get_total_cost }}</td>
        </tr>
        <tr class="total">
            <td colspan="3">Total</td>
            <td class="num">${{ order.get_total_cost }}</td>
        </tr>
    </tbody>
</table>
<form action="{% url 'payment:process' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Pay now">
</form>
{% endblock %}
